$color-primary: #009579;
$color-primary-dark: #007f67;
$color-secondary: #252c6a;
$color-error: #cc3333;
$color-success: #4bb544;
$border-radius: 4px;

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.container{
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: $border-radius;
  background: #fff;
  .form-input, .input-button{
    font: 500 1rem 'Quicksand', sans-serif;
  }
}

.form-hidden{
  display: none;
}

.form-title{
  text-align: center;
  margin-bottom: 1rem;
}

.form-message{
  text-align: center;
  margin-bottom: 1rem;
}

.form-message-success{
  color: $color-success;
}

.form-message-error{
  color: $color-error;
}

.form-input-group{
  margin-bottom: 1rem;
}

.form-input{
  display: block;
  width: 100%;
  padding: 0.75rem;
  border-radius: $border-radius;
  outline: none;
  border: 1px solid #dddddd;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
  &:focus{
    border-color: $color-primary;
    background: #fff;
  }
}

.form-input-error{
  color: $color-error;
  border-color: $color-error;
}

.form-input-error-message{
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: $color-error;
}

.form-button{
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: $border-radius;
  outline: none;
  cursor: pointer;
  background: $color-primary;
  &:hover{
    background: $color-primary-dark;
  }
  &:active{
    transform: scale(0.98);
  }
}

.form-text{
  text-align: center;
}

.form-link{
  color: $color-secondary;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}