*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  overflow: hidden;
  .text{
    position: relative;
    color: #fff;
    margin: 40px;
    max-width: 800px;
    user-select: none;
    font-size: 1.5em;
    span{
      position: relative;
      display: inline-block;
      cursor: pointer;
    }
  }
}

.smoke span.active{
  animation: smoke 2s linear forwards;
}

@keyframes smoke{
  0%{
    opacity: 1;
    filter: blur(0);
    transform: translate(0, 0) rotate(0deg) scale(1);
    transform-origin: bottom;
  }
  50%{
    opacity: 1;
    pointer-events: none;
  }
  100%{
    opacity: 0;
    filter: blur(20px);
    transform: translate(300px, -300px) rotate(720deg) scale(4);
  }
}


// jump

.jump span.active{
  animation: jump .5s linear forwards;
}

@keyframes jump{
  0%{
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
  50%{
    transform: translate(0, -100px) scale(2);
  }
  100%{
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
}