<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/js/all.min.js' integrity='sha512-LW9+kKj/cBGHqnI4ok24dUWNR/e8sUD8RLzak1mNw5Ja2JYCmTXJTF5VpgFSw+VoBfpMvPScCo2DnKTIUjrzYw==' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="./css/all.css">
</head>
<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signout">
        <form action="" class="sign-in-form">
          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username">
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password">
          </div>
          <input type="submit" value="Login" class="btn solid">
          <p class="social-text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>

        <form action="" class="sign-up-form">
          <h2 class="title">Sign up</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username">
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="text" placeholder="Email">
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password">
          </div>
          <input type="submit" value="Sign up" class="btn solid">
          <p class="social-text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>
      </div>
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>New here?</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem nulla eius quaerat.</p>
          <button class="btn transparent" id="sign-up-btn">Sign up</button>
          <img src="./image/undraw_Login_re_4vu2.svg" alt="" class="image">
        </div>
      </div>

      <div class="panel right-panel">
        <div class="content">
          <h3>One of us</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem nulla eius quaerat.</p>
          <button class="btn transparent" id="sign-in-btn">Sign in</button>
          <img src="./image/undraw_welcome_cats_thqn.svg" alt="" class="image">
        </div>
      </div>
    </div>
  </div>
</body>
<script src="./all.js"></script>
</html>

