<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/all.css">
  <title>Document</title>
</head>
<body>
  <section>
    <img src="./img/bg.jpg" alt="" class="background">
    <img src="./img/moon.png" alt="" class="moon">
    <img src="./img/mountain.png" alt="" class="mountain">
    <img src="./img/road.png" alt="" class="road">
    <!-- <h1 class="title">Moon Light</h1> -->
  </section>

  <script src="./all.js"></script>
</body>
</html>